In [ ]:
# !pip install -U git+https://github.com/openfisca/openfisca-ceq.git@master#egg=OpenFisca-CEQ
# !pip install -U git+https://github.com/openfisca/openfisca-senegal.git@ceq#egg=OpenFisca-Senegal
# !pip install -U git+https://github.com/openfisca/openfisca-mali.git@master#egg=OpenFisca-Mali
# !pip install -U git+https://github.com/openfisca/openfisca-cote-d-ivoire.git@master#egg=OpenFisca-COTE-D-IVOIRE

In [2]:
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd
from openfisca_ceq.tools.survey_scenario import build_ceq_survey_scenario
from openfisca_ceq.tools.indirect_taxation.tax_benefit_system_indirect_taxation_completion import indirect_tax_by_country
from openfisca_ceq.tools.data import year_by_country
from openfisca_ceq.tools.data_ceq_correspondence import (
    ceq_input_by_harmonized_variable,
    ceq_intermediate_by_harmonized_variable,
    non_ceq_input_by_harmonized_variable,
    )

# Build country scenario

## Country selection

In [3]:
country = "senegal"

In [4]:
year = year_by_country[country]
survey_scenario = build_ceq_survey_scenario(legislation_country = country, year = year)

In [5]:
household_variables = sorted([
    key
    for key, value in survey_scenario.tax_benefit_system.variables.items()
    if value.entity.key == 'household'
    ])
display(household_variables)

['agricultural_inputs_subsidies',
 'alimony',
 'all_income_excluding_transfers',
 'autoconsumption',
 'cash_transfers',
 'consumable_income',
 'consumption',
 'contributions_health',
 'contributions_pensions',
 'corporate_income_tax',
 'customs_duties',
 'decile_consumable_income_per_capita',
 'decile_disposable_income_per_capita',
 'decile_final_income_per_capita',
 'decile_gross_income_per_capita',
 'decile_market_income_per_capita',
 'decile_market_income_plus_pensions_per_capita',
 'decile_survey_income_per_capita',
 'depenses_ht_hd_poste_10_1_1_1',
 'depenses_ht_hd_poste_11_1_1_1_1',
 'depenses_ht_hd_poste_12_1_3_item_1',
 'depenses_ht_hd_poste_12_1_3_item_2',
 'depenses_ht_hd_poste_12_3_1_1',
 'depenses_ht_hd_poste_12_7_1_2_1',
 'depenses_ht_hd_poste_1_1_1_1_1_item_1',
 'depenses_ht_hd_poste_1_1_1_1_1_item_2',
 'depenses_ht_hd_poste_1_1_1_4_1_item_1',
 'depenses_ht_hd_poste_1_1_1_4_1_item_2',
 'depenses_ht_hd_poste_1_1_1_4_1_item_3',
 'depenses_ht_hd_poste_1_1_1_4_1_item_4',
 'depenses_ht_hd_poste_1_1_1_4_1_item_5',
 'depenses_ht_hd_poste_1_1_1_4_1_item_6',
 'depenses_ht_hd_poste_1_1_1_4_1_item_7',
 'depenses_ht_hd_poste_1_1_1_4_3_item_1',
 'depenses_ht_hd_poste_1_1_1_4_3_item_2',
 'depenses_ht_hd_poste_1_1_1_4_3_item_3',
 'depenses_ht_hd_poste_1_1_2_item_1',
 'depenses_ht_hd_poste_1_1_2_item_2',
 'depenses_ht_hd_poste_1_1_2_item_3',
 'depenses_ht_hd_poste_1_1_2_item_4',
 'depenses_ht_hd_poste_1_1_2_item_5',
 'depenses_ht_hd_poste_1_1_2_item_6',
 'depenses_ht_hd_poste_1_1_3_item_1',
 'depenses_ht_hd_poste_1_1_3_item_2',
 'depenses_ht_hd_poste_1_1_3_item_3',
 'depenses_ht_hd_poste_1_1_4_item_1',
 'depenses_ht_hd_poste_1_1_4_item_2',
 'depenses_ht_hd_poste_1_1_4_item_3',
 'depenses_ht_hd_poste_1_1_4_item_4',
 'depenses_ht_hd_poste_1_1_5_item_1',
 'depenses_ht_hd_poste_1_1_5_item_2',
 'depenses_ht_hd_poste_1_1_5_item_3',
 'depenses_ht_hd_poste_1_1_5_item_4',
 'depenses_ht_hd_poste_1_1_6',
 'depenses_ht_hd_poste_1_1_7_item_1',
 'depenses_ht_hd_poste_1_1_7_item_2',
 'depenses_ht_hd_poste_1_1_7_item_3',
 'depenses_ht_hd_poste_1_1_7_item_4',
 'depenses_ht_hd_poste_1_1_7_item_5',
 'depenses_ht_hd_poste_1_1_7_item_6',
 'depenses_ht_hd_poste_1_1_7_item_7',
 'depenses_ht_hd_poste_1_1_8_item_1',
 'depenses_ht_hd_poste_1_1_8_item_2',
 'depenses_ht_hd_poste_1_1_8_item_3',
 'depenses_ht_hd_poste_1_1_9_item_1',
 'depenses_ht_hd_poste_1_1_9_item_2',
 'depenses_ht_hd_poste_1_1_9_item_3',
 'depenses_ht_hd_poste_1_1_9_item_4',
 'depenses_ht_hd_poste_1_2_item_1',
 'depenses_ht_hd_poste_1_2_item_2',
 'depenses_ht_hd_poste_1_2_item_3',
 'depenses_ht_hd_poste_1_2_item_4',
 'depenses_ht_hd_poste_1_2_item_5',
 'depenses_ht_hd_poste_1_2_item_6',
 'depenses_ht_hd_poste_2_1',
 'depenses_ht_hd_poste_2_2',
 'depenses_ht_hd_poste_3_1_2_item_1',
 'depenses_ht_hd_poste_3_1_2_item_2',
 'depenses_ht_hd_poste_3_1_2_item_3',
 'depenses_ht_hd_poste_3_1_2_item_4',
 'depenses_ht_hd_poste_3_2_1',
 'depenses_ht_hd_poste_4_1_1_item_1',
 'depenses_ht_hd_poste_4_1_1_item_2',
 'depenses_ht_hd_poste_4_3',
 'depenses_ht_hd_poste_4_3_2_2_1_item_1',
 'depenses_ht_hd_poste_4_3_2_2_1_item_2',
 'depenses_ht_hd_poste_4_4_1_1_1_item_1',
 'depenses_ht_hd_poste_4_4_1_1_1_item_2',
 'depenses_ht_hd_poste_4_4_1_1_1_item_3',
 'depenses_ht_hd_poste_4_4_1_2_1',
 'depenses_ht_hd_poste_4_5_1_1_1_item_1',
 'depenses_ht_hd_poste_4_5_1_1_1_item_2',
 'depenses_ht_hd_poste_4_5_2_1_1',
 'depenses_ht_hd_poste_4_5_3_1_1',
 'depenses_ht_hd_poste_4_5_4_1_1_item_1',
 'depenses_ht_hd_poste_4_5_4_1_1_item_2',
 'depenses_ht_hd_poste_5_1',
 'depenses_ht_hd_poste_5_5_1_item_1',
 'depenses_ht_hd_poste_5_5_1_item_2',
 'depenses_ht_hd_poste_5_5_1_item_3',
 'depenses_ht_hd_poste_5_6_2_1_1',
 'depenses_ht_hd_poste_6_1_1_item_1',
 'depenses_ht_hd_poste_6_1_1_item_2',
 'depenses_ht_hd_poste_6_1_1_item_3',
 'depenses_ht_hd_poste_6_2_1_item_1',
 'depenses_ht_hd_poste_6_2_1_item_2',
 'depenses_ht_hd_poste_6_2_1_item_3',
 'depenses_ht_hd_poste_6_2_1_item_4',
 'depenses_ht_hd_poste_6_2_1_item_5',
 'depenses_ht_hd_poste_6_2_1_item_6',
 'depenses_ht_hd_poste_7_1_1',
 'depenses_ht_hd_poste_7_2_2',
 'depenses_ht_hd_poste_7_2_3_item_1',
 'depenses_ht_hd_poste_7_2_3_item_2',
 'depenses_ht_hd_poste_7_3_2_item_1',
 'depenses_ht_hd_poste_7_3_2_item_2',
 'depenses_ht_hd_poste_8_1_2_2_1_item_1',
 'depenses_ht_hd_poste_8_1_2_2_1_item_2',
 'depenses_ht_hd_poste_8_1_2_2_1_item_3',
 'depenses_ht_hd_poste_8_1_2_2_1_item_4',
 'depenses_ht_hd_poste_8_1_2_2_1_item_5',
 'depenses_ht_hd_poste_9_4',
 'depenses_ht_hd_poste_9_4_2_3_1',
 'depenses_ht_hd_poste_9_5_1_1_3',
 'depenses_ht_hd_poste_9_5_3_2_2',
 'depenses_ht_hd_sd_droits_douane_consommation_finale',
 'depenses_ht_hd_sd_droits_douane_consommation_intermediaire',
 'depenses_ht_hd_sd_droits_douane_equipements',
 'depenses_ht_hd_sd_droits_douane_exonere',
 'depenses_ht_hd_sd_poste_10_1_1_1',
 'depenses_ht_hd_sd_poste_11_1_1_1_1',
 'depenses_ht_hd_sd_poste_12_1_3_item_1',
 'depenses_ht_hd_sd_poste_12_1_3_item_2',
 'depenses_ht_hd_sd_poste_12_3_1_1',
 'depenses_ht_hd_sd_poste_12_7_1_2_1',
 'depenses_ht_hd_sd_poste_1_1_1_1_1_item_1',
 'depenses_ht_hd_sd_poste_1_1_1_1_1_item_2',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_1',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_2',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_3',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_4',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_5',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_6',
 'depenses_ht_hd_sd_poste_1_1_1_4_1_item_7',
 'depenses_ht_hd_sd_poste_1_1_1_4_3_item_1',
 'depenses_ht_hd_sd_poste_1_1_1_4_3_item_2',
 'depenses_ht_hd_sd_poste_1_1_1_4_3_item_3',
 'depenses_ht_hd_sd_poste_1_1_2_item_1',
 'depenses_ht_hd_sd_poste_1_1_2_item_2',
 'depenses_ht_hd_sd_poste_1_1_2_item_3',
 'depenses_ht_hd_sd_poste_1_1_2_item_4',
 'depenses_ht_hd_sd_poste_1_1_2_item_5',
 'depenses_ht_hd_sd_poste_1_1_2_item_6',
 'depenses_ht_hd_sd_poste_1_1_3_item_1',
 'depenses_ht_hd_sd_poste_1_1_3_item_2',
 'depenses_ht_hd_sd_poste_1_1_3_item_3',
 'depenses_ht_hd_sd_poste_1_1_4_item_1',
 'depenses_ht_hd_sd_poste_1_1_4_item_2',
 'depenses_ht_hd_sd_poste_1_1_4_item_3',
 'depenses_ht_hd_sd_poste_1_1_4_item_4',
 'depenses_ht_hd_sd_poste_1_1_5_item_1',
 'depenses_ht_hd_sd_poste_1_1_5_item_2',
 'depenses_ht_hd_sd_poste_1_1_5_item_3',
 'depenses_ht_hd_sd_poste_1_1_5_item_4',
 'depenses_ht_hd_sd_poste_1_1_6',
 'depenses_ht_hd_sd_poste_1_1_7_item_1',
 'depenses_ht_hd_sd_poste_1_1_7_item_2',
 'depenses_ht_hd_sd_poste_1_1_7_item_3',
 'depenses_ht_hd_sd_poste_1_1_7_item_4',
 'depenses_ht_hd_sd_poste_1_1_7_item_5',
 'depenses_ht_hd_sd_poste_1_1_7_item_6',
 'depenses_ht_hd_sd_poste_1_1_7_item_7',
 'depenses_ht_hd_sd_poste_1_1_8_item_1',
 'depenses_ht_hd_sd_poste_1_1_8_item_2',
 'depenses_ht_hd_sd_poste_1_1_8_item_3',
 'depenses_ht_hd_sd_poste_1_1_9_item_1',
 'depenses_ht_hd_sd_poste_1_1_9_item_2',
 'depenses_ht_hd_sd_poste_1_1_9_item_3',
 'depenses_ht_hd_sd_poste_1_1_9_item_4',
 'depenses_ht_hd_sd_poste_1_2_item_1',
 'depenses_ht_hd_sd_poste_1_2_item_2',
 'depenses_ht_hd_sd_poste_1_2_item_3',
 'depenses_ht_hd_sd_poste_1_2_item_4',
 'depenses_ht_hd_sd_poste_1_2_item_5',
 'depenses_ht_hd_sd_poste_1_2_item_6',
 'depenses_ht_hd_sd_poste_2_1',
 'depenses_ht_hd_sd_poste_2_2',
 'depenses_ht_hd_sd_poste_3_1_2_item_1',
 'depenses_ht_hd_sd_poste_3_1_2_item_2',
 'depenses_ht_hd_sd_poste_3_1_2_item_3',
 'depenses_ht_hd_sd_poste_3_1_2_item_4',
 'depenses_ht_hd_sd_poste_3_2_1',
 'depenses_ht_hd_sd_poste_4_1_1_item_1',
 'depenses_ht_hd_sd_poste_4_1_1_item_2',
 'depenses_ht_hd_sd_poste_4_3',
 'depenses_ht_hd_sd_poste_4_3_2_2_1_item_1',
 'depenses_ht_hd_sd_poste_4_3_2_2_1_item_2',
 'depenses_ht_hd_sd_poste_4_4_1_1_1_item_1',
 'depenses_ht_hd_sd_poste_4_4_1_1_1_item_2',
 'depenses_ht_hd_sd_poste_4_4_1_1_1_item_3',
 'depenses_ht_hd_sd_poste_4_4_1_2_1',
 'depenses_ht_hd_sd_poste_4_5_1_1_1_item_1',
 'depenses_ht_hd_sd_poste_4_5_1_1_1_item_2',
 'depenses_ht_hd_sd_poste_4_5_2_1_1',
 'depenses_ht_hd_sd_poste_4_5_3_1_1',
 'depenses_ht_hd_sd_poste_4_5_4_1_1_item_1',
 'depenses_ht_hd_sd_poste_4_5_4_1_1_item_2',
 'depenses_ht_hd_sd_poste_5_1',
 'depenses_ht_hd_sd_poste_5_5_1_item_1',
 'depenses_ht_hd_sd_poste_5_5_1_item_2',
 'depenses_ht_hd_sd_poste_5_5_1_item_3',
 'depenses_ht_hd_sd_poste_5_6_2_1_1',
 'depenses_ht_hd_sd_poste_6_1_1_item_1',
 'depenses_ht_hd_sd_poste_6_1_1_item_2',
 'depenses_ht_hd_sd_poste_6_1_1_item_3',
 'depenses_ht_hd_sd_poste_6_2_1_item_1',
 'depenses_ht_hd_sd_poste_6_2_1_item_2',
 'depenses_ht_hd_sd_poste_6_2_1_item_3',
 'depenses_ht_hd_sd_poste_6_2_1_item_4',
 'depenses_ht_hd_sd_poste_6_2_1_item_5',
 'depenses_ht_hd_sd_poste_6_2_1_item_6',
 'depenses_ht_hd_sd_poste_7_1_1',
 'depenses_ht_hd_sd_poste_7_2_2',
 'depenses_ht_hd_sd_poste_7_2_3_item_1',
 'depenses_ht_hd_sd_poste_7_2_3_item_2',
 'depenses_ht_hd_sd_poste_7_3_2_item_1',
 'depenses_ht_hd_sd_poste_7_3_2_item_2',
 'depenses_ht_hd_sd_poste_8_1_2_2_1_item_1',
 'depenses_ht_hd_sd_poste_8_1_2_2_1_item_2',
 'depenses_ht_hd_sd_poste_8_1_2_2_1_item_3',
 'depenses_ht_hd_sd_poste_8_1_2_2_1_item_4',
 'depenses_ht_hd_sd_poste_8_1_2_2_1_item_5',
 'depenses_ht_hd_sd_poste_9_4',
 'depenses_ht_hd_sd_poste_9_4_2_3_1',
 'depenses_ht_hd_sd_poste_9_5_1_1_3',
 'depenses_ht_hd_sd_poste_9_5_3_2_2',
 'depenses_ht_poste_10_1_1_1',
 'depenses_ht_poste_11_1_1_1_1',
 'depenses_ht_poste_12_1_3_item_1',
 'depenses_ht_poste_12_1_3_item_2',
 'depenses_ht_poste_12_3_1_1',
 'depenses_ht_poste_12_7_1_2_1',
 'depenses_ht_poste_1_1_1_1_1_item_1',
 'depenses_ht_poste_1_1_1_1_1_item_2',
 'depenses_ht_poste_1_1_1_4_1_item_1',
 'depenses_ht_poste_1_1_1_4_1_item_2',
 'depenses_ht_poste_1_1_1_4_1_item_3',
 'depenses_ht_poste_1_1_1_4_1_item_4',
 'depenses_ht_poste_1_1_1_4_1_item_5',
 'depenses_ht_poste_1_1_1_4_1_item_6',
 'depenses_ht_poste_1_1_1_4_1_item_7',
 'depenses_ht_poste_1_1_1_4_3_item_1',
 'depenses_ht_poste_1_1_1_4_3_item_2',
 'depenses_ht_poste_1_1_1_4_3_item_3',
 'depenses_ht_poste_1_1_2_item_1',
 'depenses_ht_poste_1_1_2_item_2',
 'depenses_ht_poste_1_1_2_item_3',
 'depenses_ht_poste_1_1_2_item_4',
 'depenses_ht_poste_1_1_2_item_5',
 'depenses_ht_poste_1_1_2_item_6',
 'depenses_ht_poste_1_1_3_item_1',
 'depenses_ht_poste_1_1_3_item_2',
 'depenses_ht_poste_1_1_3_item_3',
 'depenses_ht_poste_1_1_4_item_1',
 'depenses_ht_poste_1_1_4_item_2',
 'depenses_ht_poste_1_1_4_item_3',
 'depenses_ht_poste_1_1_4_item_4',
 'depenses_ht_poste_1_1_5_item_1',
 'depenses_ht_poste_1_1_5_item_2',
 'depenses_ht_poste_1_1_5_item_3',
 'depenses_ht_poste_1_1_5_item_4',
 'depenses_ht_poste_1_1_6',
 'depenses_ht_poste_1_1_7_item_1',
 'depenses_ht_poste_1_1_7_item_2',
 'depenses_ht_poste_1_1_7_item_3',
 'depenses_ht_poste_1_1_7_item_4',
 'depenses_ht_poste_1_1_7_item_5',
 'depenses_ht_poste_1_1_7_item_6',
 'depenses_ht_poste_1_1_7_item_7',
 'depenses_ht_poste_1_1_8_item_1',
 'depenses_ht_poste_1_1_8_item_2',
 'depenses_ht_poste_1_1_8_item_3',
 'depenses_ht_poste_1_1_9_item_1',
 'depenses_ht_poste_1_1_9_item_2',
 'depenses_ht_poste_1_1_9_item_3',
 'depenses_ht_poste_1_1_9_item_4',
 'depenses_ht_poste_1_2_item_1',
 'depenses_ht_poste_1_2_item_2',
 'depenses_ht_poste_1_2_item_3',
 'depenses_ht_poste_1_2_item_4',
 'depenses_ht_poste_1_2_item_5',
 'depenses_ht_poste_1_2_item_6',
 'depenses_ht_poste_2_1',
 'depenses_ht_poste_2_2',
 'depenses_ht_poste_3_1_2_item_1',
 'depenses_ht_poste_3_1_2_item_2',
 'depenses_ht_poste_3_1_2_item_3',
 'depenses_ht_poste_3_1_2_item_4',
 'depenses_ht_poste_3_2_1',
 'depenses_ht_poste_4_1_1_item_1',
 'depenses_ht_poste_4_1_1_item_2',
 'depenses_ht_poste_4_3',
 'depenses_ht_poste_4_3_2_2_1_item_1',
 'depenses_ht_poste_4_3_2_2_1_item_2',
 'depenses_ht_poste_4_4_1_1_1_item_1',
 'depenses_ht_poste_4_4_1_1_1_item_2',
 'depenses_ht_poste_4_4_1_1_1_item_3',
 'depenses_ht_poste_4_4_1_2_1',
 'depenses_ht_poste_4_5_1_1_1_item_1',
 'depenses_ht_poste_4_5_1_1_1_item_2',
 'depenses_ht_poste_4_5_2_1_1',
 'depenses_ht_poste_4_5_3_1_1',
 'depenses_ht_poste_4_5_4_1_1_item_1',
 'depenses_ht_poste_4_5_4_1_1_item_2',
 'depenses_ht_poste_5_1',
 'depenses_ht_poste_5_5_1_item_1',
 'depenses_ht_poste_5_5_1_item_2',
 'depenses_ht_poste_5_5_1_item_3',
 'depenses_ht_poste_5_6_2_1_1',
 'depenses_ht_poste_6_1_1_item_1',
 'depenses_ht_poste_6_1_1_item_2',
 'depenses_ht_poste_6_1_1_item_3',
 'depenses_ht_poste_6_2_1_item_1',
 'depenses_ht_poste_6_2_1_item_2',
 'depenses_ht_poste_6_2_1_item_3',
 'depenses_ht_poste_6_2_1_item_4',
 'depenses_ht_poste_6_2_1_item_5',
 'depenses_ht_poste_6_2_1_item_6',
 'depenses_ht_poste_7_1_1',
 'depenses_ht_poste_7_2_2',
 'depenses_ht_poste_7_2_3_item_1',
 'depenses_ht_poste_7_2_3_item_2',
 'depenses_ht_poste_7_3_2_item_1',
 'depenses_ht_poste_7_3_2_item_2',
 'depenses_ht_poste_8_1_2_2_1_item_1',
 'depenses_ht_poste_8_1_2_2_1_item_2',
 'depenses_ht_poste_8_1_2_2_1_item_3',
 'depenses_ht_poste_8_1_2_2_1_item_4',
 'depenses_ht_poste_8_1_2_2_1_item_5',
 'depenses_ht_poste_9_4',
 'depenses_ht_poste_9_4_2_3_1',
 'depenses_ht_poste_9_5_1_1_3',
 'depenses_ht_poste_9_5_3_2_2',
 'depenses_ht_tva_exonere',
 'depenses_ht_tva_taux_normal',
 'depenses_ht_tva_taux_reduit',
 'direct_taxes',
 'direct_transfers',
 'disposable_income',
 'droits_douane',
 'droits_douane_consommation_finale',
 'droits_douane_consommation_intermediaire',
 'droits_douane_equipements',
 'education_net_transfers',
 'electricity_subsidies',
 'employee_contributions_health',
 'employee_contributions_pensions',
 'employee_other_contributions',
 'employer_contributions_health',
 'employer_contributions_pensions',
 'employer_other_contributions',
 'excise_taxes',
 'final_income',
 'food_subsidies',
 'fuel_subsidies',
 'gross_income',
 'health_contributory',
 'health_copay_fees',
 'health_in_patient',
 'health_net_transfers',
 'health_noncontributory',
 'health_out_patient',
 'hh_id',
 'household_weight',
 'housing_transfers',
 'impot_revenu',
 'impots_directs',
 'impots_indirects',
 'imputed_rent',
 'in_kind_transfers',
 'indirect_subsidies',
 'indirect_taxes',
 'labor_type',
 'market_income',
 'market_income_plus_pensions',
 'near_cash_transfers',
 'net_market_income',
 'noncontributory_pensions',
 'nontaxable_income',
 'number_of_people_per_household',
 'other_contributions',
 'other_taxes',
 'payroll_tax',
 'pensions',
 'personal_income_tax',
 'post_secondary_education',
 'poste_10_1_1_1',
 'poste_11_1_1_1_1',
 'poste_12_1_3_item_1',
 'poste_12_1_3_item_2',
 'poste_12_3_1_1',
 'poste_12_7_1_2_1',
 'poste_12_7_1_item_1',
 'poste_12_7_1_item_2',
 'poste_1_1_1_1_1_item_1',
 'poste_1_1_1_1_1_item_2',
 'poste_1_1_1_4_1_item_1',
 'poste_1_1_1_4_1_item_2',
 'poste_1_1_1_4_1_item_3',
 'poste_1_1_1_4_1_item_4',
 'poste_1_1_1_4_1_item_5',
 'poste_1_1_1_4_1_item_6',
 'poste_1_1_1_4_1_item_7',
 'poste_1_1_1_4_3_item_1',
 'poste_1_1_1_4_3_item_2',
 'poste_1_1_1_4_3_item_3',
 'poste_1_1_2_item_1',
 'poste_1_1_2_item_2',
 'poste_1_1_2_item_3',
 'poste_1_1_2_item_4',
 'poste_1_1_2_item_5',
 'poste_1_1_2_item_6',
 'poste_1_1_3_item_1',
 'poste_1_1_3_item_2',
 'poste_1_1_3_item_3',
 'poste_1_1_4_item_1',
 'poste_1_1_4_item_2',
 'poste_1_1_4_item_3',
 'poste_1_1_4_item_4',
 'poste_1_1_5_item_1',
 'poste_1_1_5_item_2',
 'poste_1_1_5_item_3',
 'poste_1_1_5_item_4',
 'poste_1_1_6',
 'poste_1_1_7_item_1',
 'poste_1_1_7_item_2',
 'poste_1_1_7_item_3',
 'poste_1_1_7_item_4',
 'poste_1_1_7_item_5',
 'poste_1_1_7_item_6',
 'poste_1_1_7_item_7',
 'poste_1_1_8_item_1',
 'poste_1_1_8_item_2',
 'poste_1_1_8_item_3',
 'poste_1_1_9_item_1',
 'poste_1_1_9_item_2',
 'poste_1_1_9_item_3',
 'poste_1_1_9_item_4',
 'poste_1_2_item_1',
 'poste_1_2_item_2',
 'poste_1_2_item_3',
 'poste_1_2_item_4',
 'poste_1_2_item_5',
 'poste_1_2_item_6',
 'poste_2_1',
 'poste_2_2',
 'poste_3_1_2_item_1',
 'poste_3_1_2_item_2',
 'poste_3_1_2_item_3',
 'poste_3_1_2_item_4',
 'poste_3_2_1',
 'poste_4_1_1_item_1',
 'poste_4_1_1_item_2',
 'poste_4_3',
 'poste_4_3_2_2_1_item_1',
 'poste_4_3_2_2_1_item_2',
 'poste_4_4_1_1_1_item_1',
 'poste_4_4_1_1_1_item_2',
 'poste_4_4_1_1_1_item_3',
 'poste_4_4_1_2_1',
 'poste_4_5_1_1_1_item_1',
 'poste_4_5_1_1_1_item_2',
 'poste_4_5_2_1_1',
 'poste_4_5_3_1_1',
 'poste_4_5_4_1_1_item_1',
 'poste_4_5_4_1_1_item_2',
 'poste_5_1',
 'poste_5_5_1_item_1',
 'poste_5_5_1_item_2',
 'poste_5_5_1_item_3',
 'poste_5_6_2_1_1',
 'poste_6_1_1_item_1',
 'poste_6_1_1_item_2',
 'poste_6_1_1_item_3',
 'poste_6_2_1_item_1',
 'poste_6_2_1_item_2',
 'poste_6_2_1_item_3',
 'poste_6_2_1_item_4',
 'poste_6_2_1_item_5',
 'poste_6_2_1_item_6',
 'poste_7_1_1',
 'poste_7_2_2',
 'poste_7_2_3_item_1',
 'poste_7_2_3_item_2',
 'poste_7_3_2_item_1',
 'poste_7_3_2_item_2',
 'poste_8_1_2_2_1_item_1',
 'poste_8_1_2_2_1_item_2',
 'poste_8_1_2_2_1_item_3',
 'poste_8_1_2_2_1_item_4',
 'poste_8_1_2_2_1_item_5',
 'poste_9_4',
 'poste_9_4_2_3_1',
 'poste_9_5_1_1_3',
 'poste_9_5_3_2_2',
 'pre_school',
 'primary_education',
 'property_tax',
 'sales_tax',
 'school_fees',
 'secondary_education',
 'self_employed_contributions_health',
 'self_employed_contributions_pensions',
 'self_employed_other_contributions',
 'social_assistance',
 'social_insurance',
 'survey_income',
 'taxable_income',
 'tertiary_education',
 'tva',
 'tva_taux_normal',
 'tva_taux_reduit',
 'value_added_tax']

In [6]:
person_variables = [
    key
    for key, value in survey_scenario.tax_benefit_system.variables.items()
    if value.entity.key == 'person'
    ]
display(person_variables)

['age',
 'date_naissance',
 'est_cadre',
 'est_celibataire',
 'est_divorce',
 'est_marie',
 'est_veuf',
 'nombre_enfants',
 'statut_marital',
 'actions_interets',
 'benefices_non_salarie',
 'conjoint_a_des_revenus',
 'jetons_et_autres_remunerations',
 'lots',
 'obligations',
 'pension_retraite',
 'produits_des_comptes',
 'revenu_non_salarie',
 'revenus_fonciers_brut',
 'salaire',
 'salaire_brut',
 'person_weight',
 'accidents_du_travail',
 'cotisations_employeur',
 'cotisations_salariales',
 'famille',
 'retraite_employeur',
 'retraite_salarie',
 'salaire_imposable',
 'salaire_super_brut',
 'sante_employeur',
 'sante_salarie',
 'contribution_forfaitaire_charge_employeur',
 'contribution_globale_fonciere',
 'contribution_globale_unique',
 'droit_progressif',
 'droit_progressif_pension_retraite',
 'droit_progressif_salaire',
 'droit_proportionnel',
 'droit_proportionnel_autres_revenus',
 'droit_proportionnel_salaire',
 'impot_revenus',
 'nombre_de_parts',
 'pension_net_a_payer',
 'reduction_impots_pour_charge_famille',
 'salaire_net_a_payer',
 'autres_revenus_du_capital_brut',
 'pension_retraite_brut',
 'revenu_foncier_brut',
 'revenu_non_salarie_brut',
 'gifts_sales_durables',
 'other_income',
 'revenu_locatif',
 'autres_revenus_du_capital',
 'revenu_informel_salarie',
 'revenu_informel_non_salarie',
 'revenu_agricole',
 'revenu_non_salarie_total',
 'cadre',
 'categorie_cgu',
 'secteur_public',
 'secteur_activite',
 'secteur_formel',
 'urbain',
 'pers_id',
 'eleve_enseignement_niveau',
 'eleve_enseignement_public',
 'pre_school_person',
 'primary_education_person',
 'secondary_education_person',
 'tertiary_education_person']

In [7]:
dataframe_by_entity = survey_scenario.create_data_frame_by_entity(['salaire_super_brut', 'consumption'])

In [8]:
dataframe_by_entity.keys()

dict_keys(['household', 'person'])

In [9]:
person_dataframe = dataframe_by_entity['person']
household_dataframe = dataframe_by_entity['household']

In [10]:
person_dataframe.head(30)

    salaire_super_brut
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0
5                  0.0
6                  0.0
7                  0.0
8                  0.0
9                  0.0
10                 0.0
11                 0.0
12                 0.0
13                 0.0
14                 0.0
15                 0.0
16                 0.0
17                 0.0
18                 0.0
19                 0.0
20                 0.0
21                 0.0
22                 0.0
23                 0.0
24                 0.0
25                 0.0
26                 0.0
27                 0.0
28                 0.0
29                 0.0

In [11]:
person_dataframe.to_csv('person.csv')
household_dataframe.to_csv('household.csv')

In [12]:
merged_dataframe = survey_scenario.create_data_frame_by_entity(
    ['salaire_super_brut', 'consumption'], 
    merge = True, 
    index = True,
    )

In [13]:
merged_dataframe

,salaire_super_brut,household_id,household_role,household_position,consumption
0,0.0,0,2,0,705904.625
1,0.0,0,2,1,705904.625
2,0.0,0,1,2,705904.625
3,0.0,0,2,3,705904.625
4,0.0,0,2,4,705904.625
...,...,...,...,...,...
55011,0.0,5952,2,10,1172416.250
55012,0.0,5952,0,11,1172416.250
55013,0.0,5952,2,12,1172416.250
55014,0.0,5952,3,13,1172416.250
55015,0.0,5952,2,14,1172416.250

In [14]:
from openfisca_ceq.tools.results.inequality import inequality_table, incidence_table, concentration_share, taxpayers_share, net_payers_beneficiaries, net_payers_beneficiaries_decile

income_variable = 'gross_income'
by_variable = 'labor_type'
tax_variables = ['personal_income_tax', 'customs_duties', 'value_added_tax', 'education_net_transfers']

table_by_indicator_by_scenario = dict()
from openfisca_ceq.tools.tax_benefit_system_ceq_completion import labor_type_by_index

display(incidence_table(survey_scenario, income_variable, tax_variables, by_variable).rename(index = labor_type_by_index))
display(concentration_share(survey_scenario, tax_variables, by_variable).rename(index = labor_type_by_index))
display(taxpayers_share(survey_scenario, tax_variables, by_variable).rename(index = labor_type_by_index))

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
labor_type,,,,
Inactive,0.03,0.01,0.08,0.09
Formal public wage worker,0.18,0.01,0.04,0.05
Formal private wage worker,0.14,0.01,0.04,0.05
Informal wage worker,0.01,0.02,0.07,0.09
Informal independent worker,0.01,0.01,0.06,0.05
Agricultural worker,0.00,0.02,0.06,0.10

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
labor_type,,,,
Inactive,0.28,0.36,0.39,0.38
Formal public wage worker,0.36,0.04,0.05,0.05
Formal private wage worker,0.28,0.04,0.05,0.04
Informal wage worker,0.02,0.09,0.09,0.09
Informal independent worker,0.04,0.21,0.22,0.15
Agricultural worker,0.03,0.27,0.21,0.29

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
labor_type,,,,
Inactive,0.18,0.99,1.0,0.61
Formal public wage worker,0.99,0.99,1.0,0.58
Formal private wage worker,0.99,0.99,1.0,0.49
Informal wage worker,0.07,1.00,1.0,0.58
Informal independent worker,0.10,0.99,1.0,0.50
Agricultural worker,0.03,0.99,1.0,0.59

In [15]:
net_payers_beneficiaries(survey_scenario, by_variable = 'decile_gross_income_per_capita')

                                net_payers  net_beneficiaries
decile_gross_income_per_capita
1                                     0.45               0.55
2                                     0.48               0.52
3                                     0.55               0.45
4                                     0.53               0.46
5                                     0.57               0.43
6                                     0.61               0.39
7                                     0.67               0.33
8                                     0.75               0.25
9                                     0.77               0.23
10                                    0.86               0.14

In [16]:
net_payers_beneficiaries_decile(survey_scenario, by_variable = "decile_gross_income_per_capita")

                                net_contribution  net_payer
decile_gross_income_per_capita
1                                  -2.100243e+10      False
2                                  -1.583945e+10      False
3                                  -9.001404e+09      False
4                                  -1.408034e+10      False
5                                  -2.726136e+09      False
6                                   3.810458e+09       True
7                                   4.494442e+09       True
8                                   6.686306e+09       True
9                                   2.357276e+10       True
10                                  1.833625e+11       True