In [1]:
# !pip install -U git+https://github.com/openfisca/openfisca-ceq.git@master#egg=OpenFisca-CEQ
# !pip install -U git+https://github.com/openfisca/openfisca-senegal.git@ceq#egg=OpenFisca-Senegal
# !pip install -U git+https://github.com/openfisca/openfisca-mali.git@master#egg=OpenFisca-Mali
# !pip install -U git+https://github.com/openfisca/openfisca-cote-d-ivoire.git@master#egg=OpenFisca-COTE-D-IVOIRE

In [2]:
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd
from openfisca_ceq.tools.survey_scenario import build_ceq_survey_scenario
from openfisca_ceq.tools.indirect_taxation.tax_benefit_system_indirect_taxation_completion import indirect_tax_by_country
from openfisca_ceq.tools.data import year_by_country
from openfisca_ceq.tools.data.tax_targets import read_tax_target
from openfisca_ceq.tools.results.inequality import inequality_table
from openfisca_ceq.tools.data_ceq_correspondence import (
    ceq_input_by_harmonized_variable,
    ceq_intermediate_by_harmonized_variable,
    non_ceq_input_by_harmonized_variable,
    )

In [3]:
ceq_by_harmonized_variable = dict()
ceq_by_harmonized_variable.update(ceq_input_by_harmonized_variable)
ceq_by_harmonized_variable.update(ceq_intermediate_by_harmonized_variable)
ceq_by_harmonized_variable.update(non_ceq_input_by_harmonized_variable)
ceq_by_harmonized_variable['autres_revenus_du_capital_brut'] = 'autres_revenus_du_capital_brut'
ceq_by_harmonized_variable['pension_retraite_brut'] = 'pension_retraite_brut'
ceq_by_harmonized_variable['revenu_foncier_brut'] = 'revenu_foncier_brut'
ceq_by_harmonized_variable['revenu_non_salarie_brut'] = 'revenu_non_salarie_brut' 
ceq_by_harmonized_variable['salaire_brut'] = 'salaire_brut'
ceq_by_harmonized_variable['salaire_super_brut'] = 'salaire_super_brut'

##Â Inequality tables

In [4]:
for country, year in year_by_country.items():
    survey_scenario = build_ceq_survey_scenario(country, year)
    inflated_survey_scenario = build_ceq_survey_scenario(country, year, inflate = True)    
    data = [
        (
            harmonized_variable, 
            openfisca_variable, 
            survey_scenario.compute_aggregate(openfisca_variable, period = year) / 1e9,
            inflated_survey_scenario.compute_aggregate(openfisca_variable, period = year) / 1e9,
            ) 
        for harmonized_variable, openfisca_variable in ceq_by_harmonized_variable.items()
        ]
    revenus = pd.DataFrame(data, columns = ["harmonized", "openfisca", "aggregate", "inflated aggregate"])
    display(revenus.round(0).astype({"aggregate": int, "inflated aggregate": int}))
    display(country)
    display(inequality_table(survey_scenario))
    display(country + " (inflated)")
    display(inequality_table(survey_scenario))

/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)
/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)
/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

,harmonized,openfisca,aggregate,inflated aggregate
0,rev_i_autoconsommation,autoconsumption,1288,1952
1,rev_i_autres,other_income,580,878
2,rev_i_autres_transferts,gifts_sales_durables,433,656
3,rev_i_loyers_imputes,imputed_rent,277,420
4,rev_i_transferts_publics,direct_transfers,8,8
5,rev_i_agricoles,revenu_agricole,1426,2161
6,rev_i_autres_revenus_capital,autres_revenus_du_capital,75,75
7,rev_i_independants_Ntaxe,revenu_informel_non_salarie,1346,2039
8,rev_i_independants_taxe,revenu_non_salarie,244,244
9,rev_i_independants,revenu_non_salarie_total,1590,2283
10,rev_i_locatifs,revenu_locatif,215,215
11,rev_i_pensions,pension_retraite,354,354
12,rev_i_salaires_formels,salaire,1364,1364
13,rev_i_salaires_informels,revenu_informel_salarie,2271,3441
14,autres_revenus_du_capital_brut,autres_revenus_du_capital_brut,91,138
15,pension_retraite_brut,pension_retraite_brut,354,536
16,revenu_foncier_brut,revenu_foncier_brut,222,336
17,revenu_non_salarie_brut,revenu_non_salarie_brut,244,370
18,salaire_brut,salaire_brut,1616,2536
19,salaire_super_brut,salaire_super_brut,1787,2707

'cote_d_ivoire'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.60,0.59,0.59,0.58,0.62,0.58
Bottom 40 %,0.08,0.08,0.08,0.08,0.07,0.09
Top 10 %,0.47,0.47,0.47,0.46,0.48,0.45

'cote_d_ivoire (inflated)'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.60,0.59,0.59,0.58,0.62,0.58
Bottom 40 %,0.08,0.08,0.08,0.08,0.07,0.09
Top 10 %,0.47,0.47,0.47,0.46,0.48,0.45

,harmonized,openfisca,aggregate,inflated aggregate
0,rev_i_autoconsommation,autoconsumption,261,718
1,rev_i_autres,other_income,245,674
2,rev_i_autres_transferts,gifts_sales_durables,69,190
3,rev_i_loyers_imputes,imputed_rent,139,382
4,rev_i_transferts_publics,direct_transfers,0,0
5,rev_i_agricoles,revenu_agricole,563,1549
6,rev_i_autres_revenus_capital,autres_revenus_du_capital,0,0
7,rev_i_independants_Ntaxe,revenu_informel_non_salarie,500,1376
8,rev_i_independants_taxe,revenu_non_salarie,0,0
9,rev_i_independants,revenu_non_salarie_total,500,500
10,rev_i_locatifs,revenu_locatif,0,0
11,rev_i_pensions,pension_retraite,0,0
12,rev_i_salaires_formels,salaire,68,68
13,rev_i_salaires_informels,revenu_informel_salarie,174,477
14,autres_revenus_du_capital_brut,autres_revenus_du_capital_brut,0,0
15,pension_retraite_brut,pension_retraite_brut,0,0
16,revenu_foncier_brut,revenu_foncier_brut,0,0
17,revenu_non_salarie_brut,revenu_non_salarie_brut,0,0
18,salaire_brut,salaire_brut,81,249
19,salaire_super_brut,salaire_super_brut,96,264

'mali'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.44,0.44,0.44,0.44,0.51,0.43
Bottom 40 %,0.14,0.14,0.14,0.14,0.10,0.14
Top 10 %,0.33,0.32,0.32,0.32,0.35,0.31

'mali (inflated)'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.44,0.44,0.44,0.44,0.51,0.43
Bottom 40 %,0.14,0.14,0.14,0.14,0.10,0.14
Top 10 %,0.33,0.32,0.32,0.32,0.35,0.31

,harmonized,openfisca,aggregate,inflated aggregate
0,rev_i_autoconsommation,autoconsumption,157,239
1,rev_i_autres,other_income,148,225
2,rev_i_autres_transferts,gifts_sales_durables,644,981
3,rev_i_loyers_imputes,imputed_rent,327,497
4,rev_i_transferts_publics,direct_transfers,10,10
5,rev_i_agricoles,revenu_agricole,937,1427
6,rev_i_autres_revenus_capital,autres_revenus_du_capital,13,13
7,rev_i_independants_Ntaxe,revenu_informel_non_salarie,828,1261
8,rev_i_independants_taxe,revenu_non_salarie,264,264
9,rev_i_independants,revenu_non_salarie_total,1092,1525
10,rev_i_locatifs,revenu_locatif,54,54
11,rev_i_pensions,pension_retraite,58,58
12,rev_i_salaires_formels,salaire,567,567
13,rev_i_salaires_informels,revenu_informel_salarie,663,1010
14,autres_revenus_du_capital_brut,autres_revenus_du_capital_brut,14,22
15,pension_retraite_brut,pension_retraite_brut,60,91
16,revenu_foncier_brut,revenu_foncier_brut,67,102
17,revenu_non_salarie_brut,revenu_non_salarie_brut,296,450
18,salaire_brut,salaire_brut,782,1225
19,salaire_super_brut,salaire_super_brut,847,1290

'senegal'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.53,0.52,0.52,0.51,0.53,0.50
Bottom 40 %,0.11,0.11,0.11,0.11,0.10,0.12
Top 10 %,0.40,0.40,0.40,0.39,0.40,0.38

'senegal (inflated)'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.53,0.52,0.52,0.51,0.53,0.50
Bottom 40 %,0.11,0.11,0.11,0.11,0.10,0.12
Top 10 %,0.40,0.40,0.40,0.39,0.40,0.38

In [5]:
result = read_tax_target(add_country_details=True)
display(result)

/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)
/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)
/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

                                                Cote d'Ivoire                  \
                                                       actual direct inflated
Total tax revenue                                     2412.69    NaN      NaN
Direct taxes                                              729  178.9    344.4
Personal Income Taxes                                   334.7  178.9    344.4
Payroll Tax and social contributions                        -    NaN      NaN
Corporate Income Tax                                    319.8    0.0      0.0
Other Direct Taxes                                       74.5    NaN      NaN
Indirect taxes                                        1683.69  890.2    961.3
VAT                                                     617.9  682.3    736.8
Import Taxes                                          516.092  207.9    224.5
Excise taxes                                             34.4    0.0      0.0
on Oil Derivates                                            -    NaN      NaN
on alcohol, tabac and other non-oil derivatives          34.4    NaN      NaN
Other Indirect Taxes                                    515.3    NaN      NaN
Share simulated taxes (% of total tax revenue)            NaN    NaN      NaN
impot_general_revenu                                      NaN  155.8    309.4
impot_revenu_creances                                     NaN   16.4     24.9
impot_revenu_foncier                                      NaN    6.7     10.1
impot_traitement_salaire                                  NaN    NaN      NaN
contribution_globale_fonciere                             NaN    NaN      NaN
contribution_globale_unique                               NaN    NaN      NaN
droit_progressif_pension_retraite                         NaN    NaN      NaN
droit_progressif_salaire                                  NaN    NaN      NaN
droit_progressif                                          NaN    NaN      NaN
droit_proportionnel_autres_revenus                        NaN    NaN      NaN
droit_proportionnel_salaire                               NaN    NaN      NaN
droit_proportionnel                                       NaN    NaN      NaN
impot_revenus                                             NaN    NaN      NaN

                                                  Mali                  \
                                                actual direct inflated
Total tax revenue                                775.8    NaN      NaN
Direct taxes                                     220.8    7.4     40.9
Personal Income Taxes                             65.4    7.4     40.9
Payroll Tax and social contributions                 -    NaN      NaN
Corporate Income Tax                             113.3    0.0      0.0
Other Direct Taxes                                42.1    NaN      NaN
Indirect taxes                                     555  267.3    413.5
VAT                                              282.2  235.4    364.1
Import Taxes                                     112.1   31.9     49.3
Excise taxes                                       4.7    0.0      0.0
on Oil Derivates                                   4.7    NaN      NaN
on alcohol, tabac and other non-oil derivatives      -    NaN      NaN
Other Indirect Taxes                               156    NaN      NaN
Share simulated taxes (% of total tax revenue)     NaN    NaN      NaN
impot_general_revenu                               NaN    NaN      NaN
impot_revenu_creances                              NaN    NaN      NaN
impot_revenu_foncier                               NaN    NaN      NaN
impot_traitement_salaire                           NaN    7.4     40.9
contribution_globale_fonciere                      NaN    NaN      NaN
contribution_globale_unique                        NaN    NaN      NaN
droit_progressif_pension_retraite                  NaN    NaN      NaN
droit_progressif_salaire                           NaN    NaN      NaN
droit_progressif                                   NaN    NaN      NaN
droit_proportionnel_autres_revenus                 NaN    NaN      NaN
droit_proportionnel_salaire                        NaN    NaN      NaN
droit_proportionnel                                NaN    NaN      NaN
impot_revenus                                      NaN    NaN      NaN

                                                Senegal
                                                 actual direct inflated
Total tax revenue                                1334.6    NaN      NaN
Direct taxes                                      399.1  142.8    278.2
Personal Income Taxes                             253.2  142.8    278.2
Payroll Tax and social contributions                  -    NaN      NaN
Corporate Income Tax                              113.9    0.0      0.0
Other Direct Taxes                                   32    NaN      NaN
Indirect taxes                                    935.5  410.6    736.3
VAT                                               519.1  333.5    598.1
Import Taxes                                      195.2   77.0    138.2
Excise taxes                                       79.8    0.0      0.0
on Oil Derivates                                   53.8    NaN      NaN
on alcohol, tabac and other non-oil derivatives      26    NaN      NaN
Other Indirect Taxes                              141.4    NaN      NaN
Share simulated taxes (% of total tax revenue)      NaN    NaN      NaN
impot_general_revenu                                NaN    NaN      NaN
impot_revenu_creances                               NaN    NaN      NaN
impot_revenu_foncier                                NaN    NaN      NaN
impot_traitement_salaire                            NaN    NaN      NaN
contribution_globale_fonciere                       NaN    0.0      0.0
contribution_globale_unique                         NaN   34.7     53.9
droit_progressif_pension_retraite                   NaN    1.5      3.1
droit_progressif_salaire                            NaN   72.7    157.9
droit_progressif                                    NaN   74.2    161.1
droit_proportionnel_autres_revenus                  NaN   13.4     20.4
droit_proportionnel_salaire                         NaN   55.2     96.8
droit_proportionnel                                 NaN   68.6    117.2
impot_revenus                                       NaN  142.8    278.2