In [1]:
# !pip install -U git+https://github.com/openfisca/openfisca-ceq.git@master#egg=OpenFisca-CEQ
# !pip install -U git+https://github.com/openfisca/openfisca-senegal.git@ceq#egg=OpenFisca-Senegal
# !pip install -U git+https://github.com/openfisca/openfisca-mali.git@master#egg=OpenFisca-Mali
# !pip install -U git+https://github.com/openfisca/openfisca-cote-d-ivoire.git@master#egg=OpenFisca-COTE-D-IVOIRE

In [2]:
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd
from openfisca_ceq.tools.survey_scenario import build_ceq_survey_scenario
from openfisca_ceq.tools.indirect_taxation.tax_benefit_system_indirect_taxation_completion import indirect_tax_by_country
from openfisca_ceq.tools.data import year_by_country
from openfisca_ceq.tools.data.tax_targets import read_tax_target
from openfisca_ceq.tools.results.inequality import inequality_table, incidence_table, concentration_share, taxpayers_share
from openfisca_ceq.tools.data_ceq_correspondence import (
    ceq_input_by_harmonized_variable,
    ceq_intermediate_by_harmonized_variable,
    non_ceq_input_by_harmonized_variable,
    )

In [3]:
ceq_by_harmonized_variable = dict()
ceq_by_harmonized_variable.update(ceq_input_by_harmonized_variable)
ceq_by_harmonized_variable.update(ceq_intermediate_by_harmonized_variable)
ceq_by_harmonized_variable.update(non_ceq_input_by_harmonized_variable)
ceq_by_harmonized_variable['autres_revenus_du_capital_brut'] = 'autres_revenus_du_capital_brut'
ceq_by_harmonized_variable['pension_retraite_brut'] = 'pension_retraite_brut'
ceq_by_harmonized_variable['revenu_foncier_brut'] = 'revenu_foncier_brut'
ceq_by_harmonized_variable['revenu_non_salarie_brut'] = 'revenu_non_salarie_brut' 
ceq_by_harmonized_variable['salaire_brut'] = 'salaire_brut'
ceq_by_harmonized_variable['salaire_super_brut'] = 'salaire_super_brut'

##Â Inequality tables

In [4]:
income_variable = 'market_income_plus_pensions'
by_variable = 'decile_{}_per_capita'.format(income_variable)
tax_variables = ['personal_income_tax', 'customs_duties', 'value_added_tax', 'education_net_transfers']

for country, year in year_by_country.items():
    display(country)
    survey_scenario = build_ceq_survey_scenario(country, year)
    inflated_survey_scenario = build_ceq_survey_scenario(country, year, inflate = True)    
    data = [
        (
            harmonized_variable, 
            openfisca_variable, 
            survey_scenario.compute_aggregate(openfisca_variable, period = year) / 1e9,
            inflated_survey_scenario.compute_aggregate(openfisca_variable, period = year) / 1e9,
            ) 
        for harmonized_variable, openfisca_variable in ceq_by_harmonized_variable.items()
        ]
    revenus = pd.DataFrame(data, columns = ["harmonized", "openfisca", "aggregate", "inflated aggregate"])
    display(revenus.round(0).astype({"aggregate": int, "inflated aggregate": int}))
    display("Ginis")
    display(inequality_table(survey_scenario))    
    display("Incidence")
    display(incidence_table(survey_scenario, income_variable, tax_variables, by_variable))
    display("Concentration share")
    display(concentration_share(survey_scenario, tax_variables, by_variable))    
    display("Taxpayers")
    display(taxpayers_share(survey_scenario, tax_variables, by_variable))
    display(country + " (inflated)")
    display("Ginis")
    display(inequality_table(inflated_survey_scenario))
    display("Incidence")
    display(incidence_table(inflated_survey_scenario, income_variable, tax_variables, by_variable))
    display("Concentration share")
    display(concentration_share(inflated_survey_scenario, tax_variables, by_variable))
    display("Taxpayers")
    display(taxpayers_share(inflated_survey_scenario, tax_variables, by_variable))

'cote_d_ivoire'

/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)
/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

,harmonized,openfisca,aggregate,inflated aggregate
0,rev_i_autoconsommation,autoconsumption,1289,1951
1,rev_i_autres,other_income,581,880
2,rev_i_autres_transferts,gifts_sales_durables,433,656
3,rev_i_loyers_imputes,imputed_rent,277,420
4,rev_i_transferts_publics,direct_transfers,8,8
5,rev_i_agricoles,revenu_agricole,1427,2159
6,rev_i_autres_revenus_capital,autres_revenus_du_capital,75,75
7,rev_i_independants_Ntaxe,revenu_informel_non_salarie,1346,2037
8,rev_i_independants_taxe,revenu_non_salarie,245,245
9,rev_i_independants,revenu_non_salarie_total,1590,2281
10,rev_i_locatifs,revenu_locatif,215,215
11,rev_i_pensions,pension_retraite,354,354
12,rev_i_salaires_formels,salaire,1364,1364
13,rev_i_salaires_informels,revenu_informel_salarie,2278,3448
14,autres_revenus_du_capital_brut,autres_revenus_du_capital_brut,91,138
15,pension_retraite_brut,pension_retraite_brut,354,536
16,revenu_foncier_brut,revenu_foncier_brut,222,336
17,revenu_non_salarie_brut,revenu_non_salarie_brut,245,370
18,salaire_brut,salaire_brut,1616,2534
19,salaire_super_brut,salaire_super_brut,1787,2705

'Ginis'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.60,0.59,0.59,0.59,0.62,0.58
Bottom 40 %,0.08,0.08,0.08,0.08,0.07,0.09
Top 10 %,0.47,0.47,0.47,0.46,0.48,0.45

'Incidence'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.45,1.32,2.33
2,0.00,0.07,0.21,0.48
3,0.00,0.04,0.14,0.33
4,0.00,0.04,0.11,0.20
5,0.00,0.03,0.10,0.19
6,0.00,0.03,0.09,0.16
7,0.00,0.03,0.08,0.10
8,0.00,0.02,0.07,0.08
9,0.01,0.02,0.06,0.06
10,0.03,0.01,0.04,0.02

'Concentration share'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.08,0.07,0.10
2,0.00,0.05,0.05,0.09
3,0.00,0.06,0.05,0.10
4,0.00,0.06,0.06,0.08
5,0.00,0.08,0.07,0.11
6,0.00,0.08,0.07,0.11
7,0.01,0.10,0.09,0.09
8,0.02,0.11,0.11,0.10
9,0.09,0.14,0.14,0.11
10,0.87,0.25,0.28,0.11

'Taxpayers'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.01,0.98,1.0,0.30
2,0.03,1.00,1.0,0.44
3,0.04,1.00,1.0,0.47
4,0.05,1.00,1.0,0.40
5,0.05,1.00,1.0,0.39
6,0.07,1.00,1.0,0.36
7,0.08,1.00,1.0,0.31
8,0.12,1.00,1.0,0.31
9,0.17,1.00,1.0,0.26
10,0.29,1.00,1.0,0.16

'cote_d_ivoire (inflated)'

'Ginis'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.60,0.59,0.59,0.58,0.61,0.58
Bottom 40 %,0.08,0.08,0.08,0.08,0.07,0.09
Top 10 %,0.47,0.47,0.47,0.46,0.47,0.45

'Incidence'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.32,0.94,1.54
2,0.00,0.05,0.15,0.32
3,0.00,0.03,0.10,0.22
4,0.00,0.03,0.08,0.13
5,0.00,0.02,0.07,0.12
6,0.00,0.02,0.06,0.10
7,0.00,0.02,0.06,0.06
8,0.01,0.01,0.05,0.05
9,0.01,0.01,0.04,0.04
10,0.04,0.01,0.03,0.01

'Concentration share'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.08,0.07,0.10
2,0.00,0.05,0.05,0.09
3,0.00,0.06,0.05,0.10
4,0.00,0.06,0.06,0.08
5,0.00,0.08,0.07,0.11
6,0.01,0.08,0.08,0.11
7,0.01,0.10,0.09,0.09
8,0.02,0.11,0.11,0.10
9,0.10,0.14,0.14,0.11
10,0.86,0.25,0.28,0.11

'Taxpayers'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.01,0.98,1.0,0.30
2,0.04,1.00,1.0,0.44
3,0.04,1.00,1.0,0.47
4,0.05,1.00,1.0,0.40
5,0.06,1.00,1.0,0.39
6,0.08,1.00,1.0,0.36
7,0.09,1.00,1.0,0.31
8,0.12,1.00,1.0,0.31
9,0.17,1.00,1.0,0.26
10,0.29,1.00,1.0,0.16

'mali'

,harmonized,openfisca,aggregate,inflated aggregate
0,rev_i_autoconsommation,autoconsumption,258,610
1,rev_i_autres,other_income,282,667
2,rev_i_autres_transferts,gifts_sales_durables,71,167
3,rev_i_loyers_imputes,imputed_rent,148,350
4,rev_i_transferts_publics,direct_transfers,0,0
5,rev_i_agricoles,revenu_agricole,0,0
6,rev_i_autres_revenus_capital,autres_revenus_du_capital,0,0
7,rev_i_independants_Ntaxe,revenu_informel_non_salarie,699,1653
8,rev_i_independants_taxe,revenu_non_salarie,0,0
9,rev_i_independants,revenu_non_salarie_total,699,699
10,rev_i_locatifs,revenu_locatif,0,0
11,rev_i_pensions,pension_retraite,0,0
12,rev_i_salaires_formels,salaire,606,606
13,rev_i_salaires_informels,revenu_informel_salarie,68,161
14,autres_revenus_du_capital_brut,autres_revenus_du_capital_brut,0,0
15,pension_retraite_brut,pension_retraite_brut,0,0
16,revenu_foncier_brut,revenu_foncier_brut,0,0
17,revenu_non_salarie_brut,revenu_non_salarie_brut,0,0
18,salaire_brut,salaire_brut,721,1888
19,salaire_super_brut,salaire_super_brut,855,2022

'Ginis'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.48,0.48,0.48,0.47,0.53,0.46
Bottom 40 %,0.12,0.13,0.13,0.13,0.09,0.13
Top 10 %,0.37,0.36,0.36,0.35,0.38,0.34

'Incidence'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.11,0.88,1.36
2,0.00,0.04,0.29,0.53
3,0.00,0.03,0.21,0.35
4,0.00,0.02,0.18,0.25
5,0.01,0.02,0.14,0.23
6,0.01,0.02,0.12,0.17
7,0.01,0.01,0.11,0.15
8,0.01,0.02,0.11,0.12
9,0.02,0.01,0.07,0.07
10,0.06,0.01,0.04,0.03

'Concentration share'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.09,0.11,0.12
2,0.00,0.08,0.08,0.11
3,0.00,0.09,0.08,0.10
4,0.01,0.08,0.09,0.09
5,0.01,0.08,0.08,0.10
6,0.02,0.09,0.09,0.09
7,0.03,0.09,0.10,0.11
8,0.06,0.14,0.12,0.10
9,0.11,0.11,0.11,0.09
10,0.76,0.15,0.14,0.09

'Taxpayers'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.02,0.97,0.97,0.70
2,0.09,1.00,1.00,0.73
3,0.21,0.99,0.99,0.66
4,0.30,1.00,1.00,0.66
5,0.37,1.00,1.00,0.69
6,0.40,1.00,1.00,0.63
7,0.38,1.00,1.00,0.66
8,0.49,1.00,1.00,0.65
9,0.51,1.00,1.00,0.62
10,0.51,0.99,0.99,0.51

'mali (inflated)'

'Ginis'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.48,0.48,0.48,0.46,0.50,0.47
Bottom 40 %,0.12,0.13,0.13,0.13,0.11,0.13
Top 10 %,0.37,0.36,0.36,0.35,0.37,0.35

'Incidence'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.07,0.58,0.58
2,0.00,0.03,0.19,0.22
3,0.01,0.02,0.14,0.15
4,0.01,0.01,0.12,0.10
5,0.02,0.01,0.09,0.09
6,0.02,0.01,0.08,0.07
7,0.02,0.01,0.07,0.06
8,0.03,0.01,0.07,0.05
9,0.04,0.01,0.05,0.03
10,0.09,0.00,0.03,0.01

'Concentration share'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.09,0.11,0.12
2,0.00,0.08,0.08,0.11
3,0.01,0.09,0.08,0.10
4,0.01,0.08,0.09,0.09
5,0.02,0.08,0.08,0.10
6,0.03,0.08,0.09,0.09
7,0.04,0.09,0.10,0.11
8,0.08,0.14,0.13,0.11
9,0.14,0.11,0.11,0.09
10,0.67,0.15,0.14,0.09

'Taxpayers'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.04,0.97,0.97,0.70
2,0.26,1.00,1.00,0.73
3,0.36,0.99,0.99,0.67
4,0.43,1.00,1.00,0.66
5,0.43,1.00,1.00,0.69
6,0.49,1.00,1.00,0.62
7,0.44,1.00,1.00,0.65
8,0.54,1.00,1.00,0.66
9,0.56,1.00,1.00,0.62
10,0.53,0.99,0.99,0.51

'senegal'

,harmonized,openfisca,aggregate,inflated aggregate
0,rev_i_autoconsommation,autoconsumption,178,404
1,rev_i_autres,other_income,149,338
2,rev_i_autres_transferts,gifts_sales_durables,714,1625
3,rev_i_loyers_imputes,imputed_rent,371,844
4,rev_i_transferts_publics,direct_transfers,24,24
5,rev_i_agricoles,revenu_agricole,0,0
6,rev_i_autres_revenus_capital,autres_revenus_du_capital,13,13
7,rev_i_independants_Ntaxe,revenu_informel_non_salarie,873,1987
8,rev_i_independants_taxe,revenu_non_salarie,263,263
9,rev_i_independants,revenu_non_salarie_total,1136,2250
10,rev_i_locatifs,revenu_locatif,54,54
11,rev_i_pensions,pension_retraite,58,58
12,rev_i_salaires_formels,salaire,0,0
13,rev_i_salaires_informels,revenu_informel_salarie,618,1406
14,autres_revenus_du_capital_brut,autres_revenus_du_capital_brut,14,33
15,pension_retraite_brut,pension_retraite_brut,60,136
16,revenu_foncier_brut,revenu_foncier_brut,67,152
17,revenu_non_salarie_brut,revenu_non_salarie_brut,295,671
18,salaire_brut,salaire_brut,0,0
19,salaire_super_brut,salaire_super_brut,0,0

'Ginis'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.65,0.65,0.65,0.65,0.70,0.64
Bottom 40 %,0.06,0.06,0.06,0.06,0.03,0.06
Top 10 %,0.52,0.52,0.52,0.52,0.56,0.50

'Incidence'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.31,1.18,2.46
2,0.00,0.13,0.43,1.03
3,0.00,0.09,0.29,0.60
4,0.00,0.07,0.23,0.40
5,0.00,0.06,0.21,0.33
6,0.00,0.04,0.17,0.30
7,0.00,0.03,0.13,0.15
8,0.00,0.02,0.11,0.13
9,0.00,0.02,0.09,0.10
10,0.01,0.01,0.05,0.04

'Concentration share'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.06,0.06,0.09
2,0.00,0.06,0.05,0.09
3,0.00,0.07,0.05,0.08
4,0.00,0.07,0.06,0.08
5,0.01,0.09,0.07,0.09
6,0.01,0.09,0.08,0.11
7,0.04,0.10,0.09,0.08
8,0.07,0.11,0.11,0.10
9,0.13,0.14,0.15,0.13
10,0.73,0.22,0.28,0.15

'Taxpayers'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.98,1.0,0.52
2,0.01,1.00,1.0,0.62
3,0.01,1.00,1.0,0.60
4,0.01,1.00,1.0,0.62
5,0.02,1.00,1.0,0.60
6,0.02,1.00,1.0,0.63
7,0.04,1.00,1.0,0.59
8,0.08,0.99,1.0,0.65
9,0.08,0.99,1.0,0.63
10,0.13,1.00,1.0,0.40

'senegal (inflated)'

'Ginis'

,market_income,market_income_plus_pensions,gross_income,disposable_income,consumable_income,final_income
Gini,0.65,0.65,0.65,0.65,0.69,0.66
Bottom 40 %,0.06,0.06,0.06,0.06,0.04,0.05
Top 10 %,0.52,0.52,0.52,0.52,0.54,0.52

'Incidence'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.24,0.93,1.08
2,0.00,0.10,0.34,0.45
3,0.00,0.07,0.23,0.26
4,0.00,0.05,0.18,0.18
5,0.00,0.05,0.17,0.15
6,0.00,0.03,0.14,0.13
7,0.00,0.03,0.10,0.07
8,0.00,0.02,0.08,0.06
9,0.00,0.01,0.07,0.05
10,0.01,0.01,0.04,0.02

'Concentration share'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.06,0.06,0.09
2,0.00,0.06,0.05,0.09
3,0.00,0.07,0.05,0.08
4,0.00,0.07,0.06,0.08
5,0.01,0.09,0.07,0.09
6,0.01,0.09,0.08,0.11
7,0.04,0.10,0.09,0.08
8,0.07,0.11,0.11,0.10
9,0.13,0.14,0.15,0.13
10,0.74,0.22,0.28,0.15

'Taxpayers'

,personal_income_tax,customs_duties,value_added_tax,education_net_transfers
decile_market_income_plus_pensions_per_capita,,,,
1,0.00,0.98,1.0,0.52
2,0.01,1.00,1.0,0.62
3,0.01,1.00,1.0,0.60
4,0.01,1.00,1.0,0.62
5,0.02,1.00,1.0,0.60
6,0.02,1.00,1.0,0.63
7,0.04,1.00,1.0,0.59
8,0.08,0.99,1.0,0.65
9,0.10,0.99,1.0,0.63
10,0.14,1.00,1.0,0.40

In [5]:
%debug

ERROR:root:No traceback has been produced, nothing to debug.

In [6]:
result = read_tax_target(add_country_details=True)
display(result)

/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)
/home/benjello/.virtualenvs/openfisca-ceq/local/lib/python3.7/site-packages/pandas/io/stata.py:1409: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

                                                Cote d'Ivoire          \
                                                       actual  direct
Total tax revenue                                     2412.69     NaN
Direct taxes                                              729   178.9
Personal Income Taxes                                   334.7   178.9
Payroll Tax and social contributions                        -     NaN
Corporate Income Tax                                    319.8     0.0
Other Direct Taxes                                       74.5     NaN
Indirect taxes                                        1683.69   890.7
VAT                                                     617.9   682.7
Import Taxes                                          516.092   208.0
Excise taxes                                             34.4     0.0
on Oil Derivates                                            -     NaN
on alcohol, tabac and other non-oil derivatives          34.4     NaN
Other Indirect Taxes                                    515.3     NaN
Share simulated taxes (% of total tax revenue)            NaN     NaN
impot_general_revenu                                      NaN   155.8
impot_revenu_creances                                     NaN    16.4
impot_revenu_foncier                                      NaN     6.7
total_ht_imports                                          NaN  1428.8
impot_traitement_salaire                                  NaN     NaN
contribution_globale_fonciere                             NaN     NaN
contribution_globale_unique                               NaN     NaN
droit_progressif_pension_retraite                         NaN     NaN
droit_progressif_salaire                                  NaN     NaN
droit_progressif                                          NaN     NaN
droit_proportionnel_autres_revenus                        NaN     NaN
droit_proportionnel_salaire                               NaN     NaN
droit_proportionnel                                       NaN     NaN
impot_revenus                                             NaN     NaN

                                                           Mali         \
                                                inflated actual direct
Total tax revenue                                    NaN  775.8    NaN
Direct taxes                                       343.9  220.8   67.5
Personal Income Taxes                              343.9   65.4   67.5
Payroll Tax and social contributions                 NaN      -    NaN
Corporate Income Tax                                 0.0  113.3    0.0
Other Direct Taxes                                   NaN   42.1    NaN
Indirect taxes                                     961.1    555  267.3
VAT                                                736.7  282.2  235.4
Import Taxes                                       224.4  112.1   31.9
Excise taxes                                         0.0    4.7    0.0
on Oil Derivates                                     NaN    4.7    NaN
on alcohol, tabac and other non-oil derivatives      NaN      -    NaN
Other Indirect Taxes                                 NaN    156    NaN
Share simulated taxes (% of total tax revenue)       NaN    NaN    NaN
impot_general_revenu                               309.0    NaN    NaN
impot_revenu_creances                               24.8    NaN    NaN
impot_revenu_foncier                                10.1    NaN    NaN
total_ht_imports                                  1541.8    NaN  418.6
impot_traitement_salaire                             NaN    NaN   67.5
contribution_globale_fonciere                        NaN    NaN    NaN
contribution_globale_unique                          NaN    NaN    NaN
droit_progressif_pension_retraite                    NaN    NaN    NaN
droit_progressif_salaire                             NaN    NaN    NaN
droit_progressif                                     NaN    NaN    NaN
droit_proportionnel_autres_revenus                   NaN    NaN    NaN
droit_proportionnel_salaire                          NaN    NaN    NaN
droit_proportionnel                                  NaN    NaN    NaN
impot_revenus                                        NaN    NaN    NaN

                                                         Senegal         \
                                                inflated  actual direct
Total tax revenue                                    NaN  1334.6    NaN
Direct taxes                                       278.8   399.1   14.9
Personal Income Taxes                              278.8   253.2   14.9
Payroll Tax and social contributions                 NaN       -    NaN
Corporate Income Tax                                 0.0   113.9    0.0
Other Direct Taxes                                   NaN      32    NaN
Indirect taxes                                     413.5   935.5  410.6
VAT                                                364.1   519.1  333.5
Import Taxes                                        49.3   195.2   77.0
Excise taxes                                         0.0    79.8    0.0
on Oil Derivates                                     NaN    53.8    NaN
on alcohol, tabac and other non-oil derivatives      NaN      26    NaN
Other Indirect Taxes                                 NaN   141.4    NaN
Share simulated taxes (% of total tax revenue)       NaN     NaN    NaN
impot_general_revenu                                 NaN     NaN    NaN
impot_revenu_creances                                NaN     NaN    NaN
impot_revenu_foncier                                 NaN     NaN    NaN
total_ht_imports                                   647.4     NaN  625.1
impot_traitement_salaire                           278.8     NaN    NaN
contribution_globale_fonciere                        NaN     NaN    0.0
contribution_globale_unique                          NaN     NaN   34.6
droit_progressif_pension_retraite                    NaN     NaN    1.5
droit_progressif_salaire                             NaN     NaN    0.0
droit_progressif                                     NaN     NaN    1.5
droit_proportionnel_autres_revenus                   NaN     NaN   13.4
droit_proportionnel_salaire                          NaN     NaN    0.0
droit_proportionnel                                  NaN     NaN   13.4
impot_revenus                                        NaN     NaN   14.9


                                                inflated
Total tax revenue                                    NaN
Direct taxes                                        36.9
Personal Income Taxes                               36.9
Payroll Tax and social contributions                 NaN
Corporate Income Tax                                 0.0
Other Direct Taxes                                   NaN
Indirect taxes                                     736.3
VAT                                                598.1
Import Taxes                                       138.2
Excise taxes                                         0.0
on Oil Derivates                                     NaN
on alcohol, tabac and other non-oil derivatives      NaN
Other Indirect Taxes                                 NaN
Share simulated taxes (% of total tax revenue)       NaN
impot_general_revenu                                 NaN
impot_revenu_creances                                NaN
impot_revenu_foncier                                 NaN
total_ht_imports                                  1121.0
impot_traitement_salaire                             NaN
contribution_globale_fonciere                        0.0
contribution_globale_unique                         96.8
droit_progressif_pension_retraite                    6.5
droit_progressif_salaire                             0.0
droit_progressif                                     6.5
droit_proportionnel_autres_revenus                  30.4
droit_proportionnel_salaire                          0.0
droit_proportionnel                                 30.4
impot_revenus                                       36.9